.body{
    margin: auto;
    background: rgb(102,51,153);
    background: radial-gradient(circle, rgba(102,51,153,1) 15%, rgba(97,28,164,1) 50%, rgba(65,22,108,1) 85%);
    width: 95vw;
    height: 75vh;

    border: groove darkorchid 1vw;
}

.mainTitle{
    padding: 2vh 0px;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.mainBtn{
    color: rgba(25, 25, 25, 1);
    background-color: aliceblue;
    display: block;
    margin: auto;
    width: 30vw;
    height: 20vh;
    font-size: 3vw;

    border: ridge #7289da thick
}

.mainBtn:hover{
    background-color: aliceblue;
    color: #7289da;
    cursor: pointer;

    border: groove #7289da thick
}

.mainLogo{
    display: block;
    margin: auto;
    pointer-events: none;
}